<table class="customer-section" width="100%">
  <tr>
    <td class="header" colspan="2">Localizador de envío</td>
  </tr>
  <tr class="row">
    <td class="info-label" width="40%">Nº Localizador</td>
    <td class="info-value">{{ tracking_links.tracking_number }}</td>
  </tr>
  <tr class="row">
    <td class="info-label">Enlace de seguimiento</td>
    {% if tracking_links.alternativeUrl %}
    <td class="info-value">
      <a href="{{ tracking_links.alternativeUrl }}" target="_blank"
        >{{ tracking_links.alternativeUrl }}</a
      >
    </td>
    {% else %}
    <td class="info-value">
      <a href="{{ tracking_links.url }}" target="_blank"
        >{{ tracking_links.url }}</a
      >
    </td>
    {% endif %}
  </tr>
</table>
